/* *************
EXPERIENCE + EDUCATION MENU - LAY-OUT
************* */

#exp-edu > div {
	display: flex;

	margin: 2em 0 1em 0;
	border-radius: 10px;
	padding: 0.5em;
	box-shadow: 0 0 10em var(--primary);

	background-color: var(--secondary-20-onbg);
}

#exp-edu > div > button {
	flex-basis: 50%;

	border: none;
	border-radius: 10px;
	padding: 0.25em;

	font-family: var(--headers);
	font-weight: bold;
	font-size: var(--h3);
	color: var(--text);
	background-color: var(--secondary-20);

	transition: all 200ms ease-in-out;
}

#exp-edu > div > button.active {
	color: var(--background);
	background-color: var(--primary);
}

#exp-edu > div > button.active:hover {
	color: var(--background);
	background-color: var(--primary);
}

#exp-edu > div > button:hover {
	cursor: pointer;

	color: var(--background);
	background-color: var(--secondary);
}
