/* *************
EXPERIENCE + EDUCATION MENU - LAY-OUT
************* */

#exp-edu > div {
	margin: 2em 0 1em 0;
	border-radius: 10px;
	padding: 0.5em;
	box-shadow: 0 0 10em var(--primary);

	background-color: var(--secondary-20-onbg);
}

#exp-edu > div > div {
	pointer-events: none;

	display: flex;

	border-radius: 10px;

	width: 100%;

	background-color: var(--secondary-20);

	transition: all 200ms ease-in-out;
}

#exp-edu > div > div:hover {
	background-color: var(--secondary);
}

#exp-edu > div > div > button {
	pointer-events: auto;

	flex-basis: 50%;

	border: none;
	border-radius: 10px;
	padding: 0.25em;

	font-family: var(--headers);
	font-weight: bold;
	font-size: var(--h3);
	color: var(--text);
	background: none;

	transition: color 200ms ease-in-out;
}

#exp-edu > div > div > button.active {
	pointer-events: none;

	color: var(--background);
	background-color: var(--primary);
}

#exp-edu > div > div > button:hover {
	cursor: pointer;

	color: var(--background);
}

/* *************
MEDIA QUERIES
************* */

@media screen and (max-width: 35em) {
	#exp-edu > div {
		margin: 2em 0 1em 0;
		border-radius: 0;
		padding: 0;
		box-shadow: none;

		background: none;
	}

	#exp-edu > div > div {
		pointer-events: auto;

		justify-content: space-between;
		align-items: center;

		width: 100%;

		background: none;
	}

	#exp-edu > div > div:hover {
		background: none;
	}

	#exp-edu > div > div > button {
		cursor: pointer;

		flex-basis: inherit;

		border: none;
		border-radius: 360px;
		padding: 0;

		width: 3em;
		height: fit-content;

		background: var(--secondary-20);

		transition: background-color 200ms ease-in-out;
	}

	#exp-edu > div > div > button.active {
		pointer-events: auto;

		color: var(--text);
		background: none;
	}

	#exp-edu > div > div > button:hover {
		cursor: pointer;

		background-color: var(--secondary);
	}

	#exp-edu > div > div > button > div {
		border-radius: 360px;

		width: 1.5em;
		height: 1.5em;

		background-color: var(--primary);
		transition: all 200ms ease-in-out;
	}

	/* #exp-edu > div > div > button:hover > div {
		border-radius: 360px;

		width: 1em;
		height: 1em;

		background-color: var(--accent);
	} */
}
