#experience {
	display: flex;
	flex-direction: column;
	gap: 2em;
}

.experience-card {
	padding: 0.5em 0 0.5em 1em;
	border-left: 2px solid var(--secondary);
}

.experience-card > div {
	display: flex;
	gap: 1em;
	align-items: center;
}

.experience-card > div > img {
	width: 4em;
	height: 4em;

	border-radius: 360px;
}

.experience-card > div > div > h5 {
	margin: 0;
}

.experience-card > div > div > p {
	margin: 0;
	font-size: 18px;
}

.experience-card > div > div > p:last-of-type {
	color: var(--text-75);
	font-size: var(--p);
}

.experience-card > ul:last-of-type {
	display: flex;
	gap: 0.5em;

	list-style-type: none;
}
