/* *************
FONTS
************* */

@font-face {
	font-family: Poppins;
	src: url(../fonts/Poppins/Poppins-Regular.ttf) format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Poppins;
	src: url(../fonts/Poppins/Poppins-Bold.ttf) format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: Inter;
	src: url(../fonts/Inter/static/Inter_18pt-Bold.ttf) format("truetype");
	font-weight: bold;
	font-style: normal;
}

/* *************
VARIABLES
************* */

:root {
	/* COLOURS */
	--primary: #bfa783;
	--secondary: #5f4626;
	--accent: #3f5033;
	--text: #f7e6cf;
	--background: #1c1812;
	--text-gradient-accent: linear-gradient(
		to right,
		var(--text),
		var(--accent) 80%
	);
	--primary-gradient-secondary: linear-gradient(
		to right,
		var(--primary),
		var(--secondary)
	);
	--primary-gradient-full: linear-gradient(
		to right,
		var(--primary) 100%,
		var(--secondary)
	);

	/* RGB references for opacity conversion */
	--primary-RGB: 191, 167, 131;
	--secondary-RGB: 95, 70, 38;
	--accent-RGB: 63, 80, 51;
	--text-RGB: 247, 230, 207;
	--background-RGB: 28, 24, 18;

	/* shades */
	--primary-50: rgba(var(--primary-RGB), 0.5);
	--primary-20: rgba(var(--primary-RGB), 0.2);
	--primary-10: rgba(var(--primary-RGB), 0.1);
	--primary-5: rgba(var(--primary-RGB), 0.05);
	--primary-5-onbg: #252018;
	--primary-dark: #c2b8ab;
	--secondary-40: rgba(var(--secondary-RGB), 0.4);
	--secondary-20: rgba(var(--secondary-RGB), 0.2);
	--secondary-20-onbg: #292116;
	--secondary-10: rgba(var(--secondary-RGB), 0.1);
	--secondary-5: rgba(var(--secondary-RGB), 0.05);
	--text-75: rgba(var(--text-RGB), 0.75);
	--background-25: rgba(var(--background-RGB), 0.25);

	/* FONTS */
	--p: 1rem;
	--h6: calc(var(--p) * 1.2);
	--h5: calc(var(--h6) * 1.2);
	--h4: calc(var(--h5) * 1.2);
	--h3: calc(var(--h4) * 1.2);
	--h2: calc(var(--h3) * 1.2);
	--h1: calc(var(--h2) * 1.2);

	--default: "Poppins", system-ui, sans-serif;
	--headers: "Inter", Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro,
		sans-serif;
}

/* *************
GENERAL STYLING
************* */

/* GENERAL */

html {
	font-family: var(--default);
	color: var(--text);
	background-color: var(--background);
}

/* HEADINGS */

h1 {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 0.1em;

	margin: 0;

	width: fit-content;

	font-size: var(--h1);
	font-family: var(--headers);
	font-weight: bold;
	color: transparent;
	background: var(--text-gradient-accent);
	-webkit-background-clip: text;
	background-clip: text;
}

h1:hover {
	cursor: pointer;

	background: var(--accent);
	-webkit-background-clip: text;
	background-clip: text;
}

h2 {
	font-size: var(--h2);
	font-family: var(--headers);
	font-weight: bold;
	text-shadow: 0px 0px 1.5em var(--primary), 0px 0px 2em var(--primary);
}

h3 {
	margin: 0;

	font-size: var(--h3);
	font-family: var(--headers);
	font-weight: bold;
}

h5 {
	font-size: var(--h5);
	font-family: var(--headers);
	font-weight: bold;
}

/* LINKS */

a {
	text-decoration: none;
	color: var(--text-75);

	transition: color 200ms ease-in-out;
}

a:hover {
	cursor: pointer;

	color: var(--text);
}

/* LISTS */

ul {
	padding-left: 0.5em;

	list-style-type: "-";
}

li {
	padding-left: 0.5em;
}

/* *************
TOGGLEABLE CLASSES
************* */

.show-flex {
	display: flex;
}

.show {
	display: block !important;
}

.primary {
	display: inline-block;

	border: none;
	border-radius: 10px;
	padding: 0.5em 1em;

	font-size: 1em;
	font-family: var(--default);
	font-weight: bold;
	text-decoration: none;
	color: var(--background);
	background-image: var(--primary-gradient-secondary);

	transition: all 200ms ease-in-out;
}

.primary:hover {
	cursor: pointer;

	transform: scale(1.1);

	color: var(--background);
	background-image: var(--primary-gradient-full);
}

.tag {
	padding: 0.25em 0.75em;
	border-radius: 10px;

	background-color: var(--accent);
	font-size: 12px;
	color: var(--text);
}

/* *************
PAGE LAY-OUT
************* */

#app-root {
	display: flex;
	justify-content: center;
}

main {
	display: flex;
	justify-content: center;
	gap: 4em;

	margin: 8em 4em 8em 4em;

	max-width: 90em;
}

main > section {
	flex-basis: 60%;
}

main > section:first-of-type {
	display: flex;
	flex-direction: column;
	flex-basis: 40%;
	align-self: flex-start;
	gap: 2em;

	position: sticky;
	top: 8em;
}

/* *************
SVG MASKS
************* */

.svg-mask {
	background-color: currentColor;

	-webkit-mask-size: contain;
	mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center;
	mask-position: center;
}

.home {
	-webkit-mask-image: url("/portfolio/img/icon-home.svg");
	mask-image: url("/portfolio/img/icon-home.svg");
}

.skills {
	-webkit-mask-image: url("/portfolio/img/icon-skills.svg");
	mask-image: url("/portfolio/img/icon-skills.svg");
}

.projects {
	-webkit-mask-image: url("/portfolio/img/icon-projects.svg");
	mask-image: url("/portfolio/img/icon-projects.svg");
}

.experience {
	-webkit-mask-image: url("/portfolio/img/icon-experience.svg");
	mask-image: url("/portfolio/img/icon-experience.svg");
}

.education {
	-webkit-mask-image: url("/portfolio/img/icon-education.svg");
	mask-image: url("/portfolio/img/icon-education.svg");
}

.language {
	-webkit-mask-image: url("/portfolio/img/icon-language.svg");
	mask-image: url("/portfolio/img/icon-language.svg");
}

.expand {
	-webkit-mask-image: url("/portfolio/img/icon-expand.svg");
	mask-image: url("/portfolio/img/icon-expand.svg");
}

.collapse {
	-webkit-mask-image: url("/portfolio/img/icon-collapse.svg");
	mask-image: url("/portfolio/img/icon-collapse.svg");
}

.share {
	-webkit-mask-image: url("/portfolio/img/icon-share.svg");
	mask-image: url("/portfolio/img/icon-share.svg");
}

.github {
	-webkit-mask-image: url("/portfolio/img/icon-github.svg");
	mask-image: url("/portfolio/img/icon-github.svg");
}

.linkedin {
	-webkit-mask-image: url("/portfolio/img/icon-linkedin.svg");
	mask-image: url("/portfolio/img/icon-linkedin.svg");
}

/* *************
MEDIA QUERIES
************* */

@media screen and (max-width: 75em) {
	main {
		flex-direction: column;
	}

	main > section:first-of-type {
		align-items: center;

		position: relative;
		top: 0em;

		width: 100%;
	}
}

@media screen and (max-width: 55em) {
	main {
		margin-top: 4em;
	}
}

@media screen and (max-width: 35em) {
	main {
		margin: 4em 2em 8em 2em;
		/* margin: 0;
		width: 100%; */
	}
}
