header > nav {
	display: flex;
	justify-content: center;
}

header > nav > ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1em;

	padding: 0.75em;
	border: 2px solid var(--secondary);
	border-radius: 1em;

	width: fit-content;

	list-style: none;

	background-color: var(--secondary-10);
}

header > nav > ul > li {
	padding: 0.75em;
	border-radius: 1em;
}

header > nav > ul > li:hover {
	background-color: var(--primary-10);
}

header > nav > ul > li > a,
header > nav > ul > li > button {
	margin: 0;
	padding: 0;

	border: none;

	font-family: "Poppins";
	font-size: 1em;
	text-decoration: none;
	color: var(--text-75);
	background: none;
}

header > nav > ul > li > button {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5em;
}

header > nav > ul > li > a:hover,
header > nav > ul > li > button:hover {
	cursor: pointer;

	color: var(--text);
}

header > nav > ul > li > button > img {
	width: 1em;
	height: 1em;
}

/* Language selection menu */
header > nav > ul > li > div {
	display: none;
}
