#skills {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

#skills > h2,
#skills > p {
	margin: 0;
}

#skills > h2 {
	width: fit-content;
}

#skills > div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1em;
	justify-content: center;
}

.skill-card {
	width: 16em;
}

.skill-card p {
	margin: 0;
}

.skill-card > button {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1em;

	padding: 0.5em;
	border: none;
	border-radius: 10px 10px;

	width: 100%;

	background-color: var(--primary-5);
}

.skill-card > button:hover {
	cursor: pointer;

	background-color: var(--primary-10);
}

.button-border-radius-description {
	border-radius: 10px 10px 0 0 !important;
}

.skill-card > button > img {
	width: 2.75em;
	height: 2.75em;
	object-fit: contain;

	border-radius: 5px;
	filter: contrast(75%) sepia(100%);
}

.skill-card > button:hover > img {
	filter: none;
}

.no-filter {
	filter: none !important;
}

.skill-card > button > p {
	font-size: 18px;
	font-weight: bold;
	color: var(--text);
}

.skill-card > div {
	border-radius: 0 0 10px 10px;

	background-color: var(--secondary-5);
}

.skill-card > div.revealed {
	animation: reveal-slide 0.5s ease-in-out 1 forwards;
}

.skill-card > div.hide {
	animation: reveal-slide-reverse 0.5s ease-in-out 1 forwards;
}

.skill-card > div.display-none {
	display: none;
}

@keyframes reveal-slide {
	0% {
		clip-path: inset(0 0 100% 0);
	}
	100% {
		clip-path: inset(0 0 0 0);
	}
}

@keyframes reveal-slide-reverse {
	0% {
		clip-path: inset(0 0 0 0);
	}
	100% {
		clip-path: inset(0 0 100% 0);
	}
}

.skill-card > div > p {
	padding: 0.5em 1em;
}
